.error-page {
  text-align: center;
  margin: 0 auto;
  padding: 50px;
  color: #2c3e50;
}

.error-page h1 {
  font-size: 5rem;
  color: #00bc77;
}

.error-page p {
  font-size: 1.5rem;
}

.home-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00bc77;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.home-link:hover {
  background-color: #007a54;
}
